<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.example.demo.dao.RegionSearchDAO">
	<select id = "select_region" resultType = "com.example.demo.vo.HotelVO">
		SELECT * FROM hotel_list WHERE region = #{region} AND subregion = #{subregion}
	</select>
	<select id = "select_region2" resultType = "com.example.demo.vo.HotelVO">
		SELECT * FROM hotel_list WHERE region = #{region}
	</select>
	
<select id="select_region3" resultType="com.example.demo.vo.HotelVO">
    SELECT DISTINCT * 
    FROM hotel_list 
    WHERE address LIKE '%' || #{address} || '%' 
       OR name LIKE '%' || #{name} || '%'
</select>
	
</mapper>